python-dotenv
duckdb
pandas
pandas-ta-classic
openpyxl
pydantic
smartapi-python
pyotp
requests
TA-Lib
logzero
websocket-client
litellm
google-cloud-texttospeech
google-cloud-speech
elevenlabs
fastapi
uvicorn[standard]
